
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;

  }

  ul,li {
    list-style-type: none;
  }

  h1 {
    font-size: 2rem;
  }


  /* Structure */
 #wrapper {
   max-width: 100%;
   padding-top: -55px;
 }


/* NAV */

.navbar {
  background:transparent;
  text-align: right;
  padding: 10px;
}

/* NAV OVERLAY */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: -15px;
  right: 0px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* ---------------------------- */
/* HEADER */

.header {
  background: #818181;
  height: 100vh;
}

/* ---------------------------- */
/* ABOUT */

.about {
  background:red;
  height: 100vh;
}


/* Image */
.image {
  padding: 20px;
}

.me  {
  max-width: 10rem;
  border-radius: 50%;
}

/* .about-text {
  text-align: left;
  width: 100%;
} */

/* ABOUT H1 */
/* .about-left, .start-xs h1 {
  margin-bottom: -30px;
  background: #fff;
  position: relative;
} */

/* WHAT I DO */

/* .what-i-do-left, .end-xs h1 {
  background: #fff;
  margin-bottom: -30px;
  position: relative;
} */

