* {
  box-sizing: border-box;
  /* border: */
}

@import url('https://fonts.googleapis.com/css?family=Roboto|Monsterrat');

html {
  /* background: #fff; */
  margin: 0 auto;
  border: none;
  
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  background-color: #222;
  }
  
  ul,li {
    list-style-type: none;
  }

  p {
    text-align: left;
  }

  h1 {
    font-size: 2rem;
    font-family: 'Monsterrat', sans-serif;
  }


 /* ---------------------------- */
/* NAV */

.navbar {
  background: #111;
  text-align: right;
  padding: 10px;
}

.nav-icon {
  padding-left: 10px;
  color: #fff;
}

/* NAV OVERLAY */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  /* position: relative; */
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: -15px;
  right: 0px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* ---------------------------- */
/* Header */


#anim {
  position:absolute;
  left:0px;
  width:150px;
  height:150px;
  background: blue;
  font-size: larger;
  color: white;
  border-radius: 10px;
  padding: 1em;
  align-content: center;
}


.header {
  height: 100vh;
  background: #222;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.header-list li {
  font-size: 200px;
}

/* ---------------------------- */
/* About */


/* M E D I A  Q U E R I E S  F O R  A B O U T  C O N T A I N E R * /
/* ------------------------------------------------------------------ */

/* Main div */
.about {
  background-color: #fff;
  height: 100vh 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-with: 320px) and (max-width: 567px) {
  .about {overflow-y: auto;}
  .about {
    min-width: 100%;
    background:#fff;
  }
}

@media screen and (min-width: 567px) and (max-width: 768px) {
  .about {overflow-y: auto;}
  .about {
    min-width: 100%;
    background:#fff;
  }
}

/* Titles */
.about-div-titles h1 {
  font-size: 2rem;
  font-family: 'Monsterrat', sans-serif;
}

/* @media screen and (max-width: 320px) {
  .about-div-titles {
    font-size: 2rem;
  }
} */


/* M E D I A  Q U E R I E S  F O R  C O L U M N S - C O N T A I N E R * /
/* ------------------------------------------------------------------ */

/* Container for columns */
.columns-container {
  display: block;
  max-width: 80%;
  padding: 2%;
  flex-direction: column;
}


/* Small viewports - Phones */
@media screen and (min-width: 320px) and (max-width: 480px)  {
  .columns-container {
     flex-direction: column;
     padding: 2%;
     display: block;
     max-width: 100%;
  }
}

@media screen and (min-width: 480px) and (min-width: 576px)  {
  .columns-container {
    display: block;
    background: orange;
    flex-direction: column;
    max-width: 100%;
  }
}

/* Medium viewports - tablets */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .columns-container {
    display: block;
    background: #fff;
    flex-direction: column;
    padding: 2%;
    max-width: 90%;
  }
}


/* Large - Desktops */ 
@media screen and (min-width: 768px) and (max-width: 992px) {
  .columns-container {
    display: block;
    flex-direction: column;
    background: yellow;
    max-width: 60%;
  }
}


/* M E D I A  Q U E R I E S  F O R  I M A G E  D I V */
/* ------------------------------------------------------------------ */


/* For small viewports - Phone */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about-col-left {
    text-align: center;
    height: 100%;
    max-width: 100%;
  }

  .about-col-left img {
    text-align: center;
    max-width: 40%;
    border-radius: 50%;
  }
}

/* Medium Viewports - Tablet */
@media screen and (min-width: 480px) and (max-width: 576px) {
  .about-col-left {
    text-align: center;
    height: 100%;
    max-width: 100%;    
  }

  .about-col-left img {
    text-align: center;
    max-width: 40%;
    border-radius: 50%;
  }
}

/* Medium Viewports - Tablet */
@media screen and (min-width: 567px) and (max-width: 768px) {
  .about-col-left {
    text-align: center;
    height: 100%;
    max-width: 100%;    
  }

  .about-col-left img {
    text-align: center;
    max-width: 40%;
    border-radius: 50%;
  }
}


/* Medium Viewports - Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .about-col-left {
    text-align: center;
    height: 100%;
    max-width: 100%;
  }

  .about-col-left img {
    text-align: center;
    max-width: 40%;
    border-radius: 50%;
  }
}

/* Large Viewports - Desktop  */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .about-col-left {
    text-align: center;
    position: relative;
    background: #111;
  }
  
  .about-col-left img {
    align-self: center;
    max-width: 40%;
    border-radius: 50%;
  }
}


/* M E D I A  Q U E R I E S  F O R  A B O U T  H E A D I N G S  D I V */
/* ------------------------------------------------------------------ */

/* About Heading */
.about-col-middle {
  text-align: center;
}

/* XS Viewports - Phone */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about-col-middle {
    background:yellow;
    z-index: 3;
    position: relative;
    max-width: 35%;
    padding: 0%;
    padding-left: 2%;
    margin-left: 10%;
    margin-top: 10%;
    text-align: center;
  }
}

/* SM - Larger phones */
@media screen and (min-width: 480px) and (max-width: 567px)  {
  .about-col-middle {
    background: yellow;
    z-index: 3;
    position: relative;
    max-width: 35%;
    padding: 0%;
    padding-left: 2%;
    margin-left: 10%;
    margin-top: 10%;
    text-align: left;
  }
}

/* Medium sm */
@media screen and (min-width: 567px) and (max-width: 768px)  {
  .about-col-middle {
    background: yellow;
    z-index: 3;
    position: relative;
    max-width: 35%;
    padding: 0%;
    padding-left: 2%;
    margin-left: 10%;
    margin-top: 10%;
  }
}

/* Medium md */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .about-col-middle {
    display: block;
    background: #333;
    max-width: 40%;
    z-index: 3;
    position: relative;
    max-width: 35%;
    padding: 0%;
    padding-left: 2%;
    margin-left: 10%;
    margin-top: 10%;
  }
}

/* Large Viewports - Desktop */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .about-col-middle {
    display: block;
    background: green;
    /* max-width: 100%; */
    z-index: 3;
    position: relative;
    max-width: 35%;
    padding: 0%;
    padding-left: 2%;
    margin-left: 10%;
    margin-top: 10%;
  }
}

/* M E D I A  Q U E R I E S  F O R  A B O U T  T E X T  D I V */
/* ------------------------------------------------------------------ */

/* Body text for About*/

/* Small Viewports - Phones */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about-col-right {
    background: aqua;
    z-index: 2;
    position: relative;
    max-width: 70%;
    padding: 5%;
    margin-right: 10%;
    margin-left: 15%;
    margin-top: -10%;
  }
}

/*  Medium VIewports - Tablet */
@media screen and (min-width: 480px) and (max-width: 576px) {
  .about-col-right {
    background: aqua;
    z-index: 2;
    position: relative;
    max-width: 70%;
    padding: 5%;
    margin-right: 10%;
    margin-left: 15%;
    margin-top: -10%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px){
  .about-col-right {
    background:magenta;
    z-index: 2;
    position: relative;
    max-width: 70%;
    padding: 2%;
    margin-right: 0%;
    margin-left: 15%;
    margin-top: -5%;
  }
}

@media screen and (min-width: )

@media screen and (min-width: 768px) and (max-width: 992px){
  .about-col-right {
    background:red;
    z-index: 2;
    position: relative;
    max-width: 90%;
    /* padding: 1%; */
    margin-right: 10%;
    margin-top: -10%;
  }
}

/* Large Viewports - Desktop */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .about-col-right {
    background:yellow;
    z-index: 2;
    position: relative;
    max-width: 90%;
    /* padding: 1%; */
    margin-right: 10%;
    margin-top: -10%;
  }
}


/* M E D I A  Q U E R I E S  F O R  W H A T  I  D O   H E A D I N G S   D I V */
/* ------------------------------------------------------------------ */

.whatido-col-middle {
  background: magenta;
  z-index: 3;
  position: relative;
  max-width: 50%;
  margin-left: 40%;
  max-width: 40%;
  text-align: center;
}

/* Small Viewports - Phones */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .whatido-col-middle {
    background-color: lightseagreen;
    z-index: 3;
    position: relative;
    max-width: 100%;
    padding: 0px;
    margin-left: 40%;
    
  }
}

/* Medium Viewport - Tablets */
@media screen and (min-width:480px) and (max-width: 576px) {
  .whatido-col-middle {
    background-color: lightseagreen;
    z-index: 3;
    position: relative;
    min-width: 50%;
    padding: 0px;
    margin-left: 38%;
    text-align: center;
  }
}

/* Large Viewport - Desktop */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .whatido-col-middle {
    background-color: lightseagreen;
    z-index: 3;
    position: relative;
    width: 100%;
    padding: 0px;
    margin-left: 40%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px)  {
  .whatido-col-middle {
    background-color: green;
    z-index: 3;
    position: relative;
    width: 100%;
    padding: 0px;
    margin-left: 40%;
    
  }
}


/* M E D I A  Q U E R I E S  F O R  W H A T  I  D O  B O D Y  T E X T  D I V */
/* ------------------------------------------------------------------ */

/* Body text */
.whatido-col-right {
  z-index: 0;
  position: relative;
  margin-right: -10%;
  margin-top: -40px;
  height: 40%; 
  width: 70%;
  padding: 20px;
  /* max-width: 30%; */
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .whatido-col-right {
    background-color: green;
    z-index: 0;
    position: relative;
    margin-left: 15%;
    margin-top: -10%;
    margin-bottom: 10%;
    height: 40%; 
    width: 70%;
    padding: 5%;
    /* max-width: 30%; */
  }
}


@media screen and (min-width: 480px) and (max-width: 576px) {
  .whatido-col-right {
    background-color: greenyellow;
    z-index: 0;
    position: relative;
    margin-left: 15%;
    margin-top: -10%;
    margin-bottom: 10%;
    height: 40%; 
    width: 70%;
    padding: 5%;
    /* max-width: 30%; */
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .whatido-col-right {
    background-color: orange;
    z-index: 0;
    position: relative;
    margin-left: 15%;
    margin-top: -8%;
    margin-bottom: 10%;
    height: 40%; 
    max-width: width 60%;
    padding: 5%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .whatido-col-right {
    background-color: aliceblue;
    z-index: 0;
    position: relative;
    margin-left: 15%;
    margin-top: -10%;
    margin-bottom: 10%;
    height: 40%; 
    width: 70%;
    padding: 1%;
  }
}

/* ---------------------------- */
/* GALLERY */


.work {
  height: 100%;
  min-height: 100vh;
  background: #222;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.work-inner {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

/* PROJECTS/PHOTOGRAPHY COLUMNS & IMAGES */
.projects-col {
  /* background: red; */
}

.photography-col {
  /* background: yellow; */
  /* align-self: flex-end; */
}

/*  img  */
.projects {
  width: 80%;
  opacity: 0.5;
  filter: alpha(opacity=50); 
  transition-duration: 5s;
  transition-delay: 2s
}


/*  img  */
.photography {
  width: 80%;
}


/* ---------------------------- */
/* SKILLS */

.skills {
  background: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-inner {
  width: 70%;
  display: flex;
  padding: 10px;
  flex-direction: column;
}

@media screen and (max-width: 320px) {
  .skills-inner {
    /* width: 100%; */
    display: flex;
    padding: 10px;
    flex-direction: column;
  }
}

.skills-left {
  background: #222;
  padding: 5%;
}

.skils-right {
  background: #222;
  padding: 5%;
}


/* ---------------------------- */
/* GET IN TOUCH */ 
.get-in-touch {
  height: 80vh;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.get-in-touch-inner {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.get-in-touch-col-middle {
  align-self: center;
  text-align: center;
  width: 100%;
}

@media screen and (max-width:320px) {
  .get-in-touch-col-right {
    background-color: #222;
    padding: 5%;
  }
}

/* ---------------------------- */
/* FOOTER */
.footer {
  height: 80vh;
  background: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-inner {
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 320px) {
  .footer-inner {
    /* width: 80%; */
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.footer-col-left {
  background: #222;
  padding: 5%;
}

.footer-col-right {
  background: #444;
  padding: 5%;
}
 
