
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  background: #555;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  background-color: orange;

  }
  
  ul,li {
    list-style-type: none;
  }

  h1 {
    font-size: 2rem;
  }



  /* Structure */
 #wrapper {
   /* width: 100%; */
   width: 100vw;
   height: 100vh;
 }

 /* ---------------------------- */
/* NAV */

.navbar {
  background: #111;
  text-align: right;
  padding: 10px;

}

.nav-icon {
  padding-left: 10px;
  color: #fff;
}

/* NAV OVERLAY */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  /* position: relative; */
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: -15px;
  right: 0px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* ---------------------------- */
/* HEADER */


#anim {
  position:absolute;
  left:0px;
  width:150px;
  height:150px;
  background: blue;
  font-size: larger;
  color: white;
  border-radius: 10px;
  padding: 1em;
  align-content: center;
}


.header {
  height: 100vh;
  background: #222;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.header-list li {
  font-size: 200px;
}

/* ---------------------------- */
/* ABOUT */


.about {
  background: red;
  height: 100vh 100%;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
 
/* @media screen and (max-height: 450px) {
  .about {overflow-y: auto;}
  .about a {font-size: 20px}
  .about {
    min-width: 100%;
  }
} */

.colums-container {
  display: block;
  padding: 5%;
  background: yellow;
  max-width: 80%;
  height:100%;
}

/* media queries for column breakdown */
@media screen and (max-height: 450px) {
  .colums-container {overflow-y: auto;}
  .colums-container a {font-size: 20px}
  .colums-container {
    max-width: 100%;
  }
}



/* image */
.about-col-left {
  text-align: center
}

.image { 
  padding: 20px; 
}

.me  {
  /* max-width: 40%; */
  border-radius: 50%;
}

/* Inner Columns */

/* About me */
.about-col-middle {
  background: #fff;
  z-index: 3;
  position: relative;
  max-width: 50%;
  padding: 1%;
}

.about-col-right {
  background:red;
  z-index: 0;
  position: relative;
  margin-left: 50px;
  margin-top: -40px;
  height: 30%; 
  max-width: 50%;
  padding: 20px;
}


.col-middle {
  background: darkgray;

}

.col-right {
  background: #333;

  margin-left: -20px;
}

/* What I do */

/* .whatido-col-middle {
  background: #fff;
  z-index: 3;
  position: relative; */
  /* max-width: 50%; */
  /* padding: 0px;
  margin-left: 60%;
  
} */


.whatido-col-right {
  /* background:red; */
  /* z-index: 0; */
  /* position: relative;
  margin-right: -10%;
  margin-top: -40px;
  height: 40%; 
  width: 70%;
  padding: 20px; */
  /* max-width: 30%; */
}

/* GALLERY */

/* Show on hover content */

.grid {
  display: none;
  position:absolute;
  width: 50%;
  height: auto;
  overflow-x: visible;
  /* text-align: center; */
}



#trigger:checked + .grid {
  display: block;
}

#trigger {
    display: none;
    
  }

  #trigger img {
    /* max-width: 30%; */
  }

.content-lower {
  overflow: auto;
  background: red;
}

.work {
  height: 100vh;

  background: #222;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.work-inner {
  /* width: 90%; */
  /* height: 100%; */
  /* padding-top: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* PROJECTS/PHOTOGRAPHY COLUMNS & IMAGES */
.projects-col {

}


.container {
  position: relative;
  text-align: center;
  color: white;
}
 
/* Centered text over img */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  /* opacity: 1; */

}

/*  img  */
.projects {
  width: 80%;
  opacity: 0.5;
  filter: alpha(opacity=50); 
  transition-duration: 5s;
  transition-delay: 2s
}


.photography-col {

  align-self: center;
  margin-top: -10rem;
}

/*  img  */
.photography {
  width: 80%;
}



/* SKILLS */
.skills {
  background: #333;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.skills-inner {
  width: 70%;
  display: flex;
  padding: 10px;
}

.skills-left {
  background: #222;

}

/* Image */
.image { padding: 20px; }

.me  {
  max-width: 10rem;
  border-radius: 50%;
}

.col-middle {
  /* background: green; */

}

.col-right {
  background: #333;

}


/* --------------------- */
/* GET IN TOUCH */ 
.get-in-touch {
  height: 80vh;
  background: #444;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.get-in-touch-inner {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER */
.footer {
  height: 80vh;
  background: #555;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-inner {
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
